<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            <a href="https://github.com/dfranssen/dfp-websockets-test">See GitHub project</a>
        </div>
        <!-- Default to the left -->
        <strong>Demo app for testing websockets with the cool <a href="http://proxy.dockerflow.com/">Docker Flow Proxy</a>.</strong>
    </footer>

</div>
</body>
</html>